gcp_key=<YOUR_GCP_KEY>
gemini_model=<YOUR_GEMINI_MODEL>
serper_api_key=<YOUR_SERPER_API_KEY>
groq_key=<YOUR_GROQ_KEY>
inputs='{"location": "san diego", "city": "tokyo", "date_range": "7days", "interests": ["food", "culture", "history", "clubbing"]}'
