gcp_key=<YOUR_GCP_KEY>
gemini_model=<YOUR_GEMINI_MODEL>
serper_api_key=<YOUR_SERPER_API_KEY>
groq_key=<YOUR_GROQ_KEY>
memo_key=<YOUR_MEMO_KEY>
inputs='{"travlers_input":"I'd like to plan a trip to the Grand Canyon in Arizona.  I'm looking for a 3-day trip and I'm interested in trails, food, and sightseeing."}'
